Source: simavr
Section: electronics
Priority: extra
Maintainer: Laurent Navet (Mali) <laurent.navet@gmail.com>
Build-Depends: debhelper (>= 8.0.0), avr-libc, libelf-dev, pkg-config, freeglut3-dev
Standards-Version: 3.9.3
Homepage: https://github.com/buserror-uk/simavr
#Vcs-Git: git://git.debian.org/collab-maint/simavr.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/simavr.git;a=summary

Package: simavr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsimavr1
Description: lean, mean, hackable Atmel AVR simulator
 simavr is a new AVR simulator for linux, or any platform that uses avr-gcc.
 It uses avr-gcc's own register definition to simplify creating new targets
 for supported AVR devices.
 The core was made to be small and compact, and hackable so allow quick
 prototyping of an AVR project. The AVR core is now stable for use with
 parts with <= 128KB flash, and with preliminary support for the bigger parts.
 The simulator loads ELF files directly, and there is even a way to specify
 simulation parameters directly in the emulated code using an .elf section.
 You can also load multipart HEX files.

Package: libsimavr1-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, simavr
Description: lean, mean, hackable Atmel AVR simulator: Development files
 Contains all the necessary files for building projects upon the simavr core.

Package: libsimavr1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lean, mean, hackable Atmel AVR simulator: Runtime library
 Contains all the necessary files for building projects upon the simavr core.
